<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Helps to fits in the current device-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=2.0">        
        <title> Your Tittle</title>
        <link rel="stylesheet" href ="static/css/bootstrap.min.css">
    </head>

    <body>
        <h1> Header</h1>
        <button class="btn btn-primary">push</button>

        
    
    {%block body%}

    {%endblock%}

    {%with messages= get_flashed_messages()%}
        {%if messages%}
          {%for message in messages%}
          <!-- alert-warning-> red globe alert-info-> blue glob alert-succes->blue globs -->
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span></button>
                <!-- &times; means an x-->
              {{message}}
            </div>
          {%endfor%}
        {%endif%}
      {%endwith%}


        
    <script src="static/js/jquery-1.12.3.min.js"> </script>
    <script src="static/js/bootstrap.min.js"> </script>
    
    </body>

</html>
